<h1>Contatos</h1>
<hr>

<a href="/formContato">Incluir</a>

<table>
    <tr>
        <td>ID</td>
        <td>Nome</td>
        <td>E-mail</td>
        <td>Rede Social</td>
        <td>Telefone</td>
    </tr>       

</table>